:root {
  --main-orange: #ff9900;
  --main-black: #333333;
  --main-yellow: #ffcc00;

  --dark-pink: #a81d4d;
  --pink: #ee5f9b;
  --light-pink: #f18db5;
  --light-blue: #94dee2;
  --glass-blue: rgba(68, 146, 147, 0.8);
}

h1,
h2,
h3,
h4,
h5,
span,
p {
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

button.btn {
  background-color: var(--glass-blue);
  border-color: var(--glass-blue);
  font-family: "Open Sans", sans-serif;
}

#title {
  margin-top: 50px;
}
.content video.player {
  height: 50px;
  width: 300px;
}

.metadata-container {
  margin: 0 10px;
}

.metadata-container h4,
.metadata-container h5 {
  color: var(--pink);
  text-align: center;
}

/****************/
/* MUSIC DETAIL */
/****************/

.music-detail {
  background-color: var(--glass-blue);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 230px;
  margin: 10px auto;

  color: white;
  font-size: 14px;
  box-shadow: 0 0 10px var(--light-pink);
}

.music-detail .top-side {
  margin: auto;
}

.music-detail .top-side img {
  max-width: 100%;
}

.music-detail .bottom-side {
  padding-top: 10px;
}

.music-detail .bottom-side p {
  font-size: 12px;
}

.music-detail .bottom-side p.name {
  font-size: 16px;
}

.music-detail .bottom-side p.artist {
  font-size: 14px;
  color: #2a4158;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.music-detail .bottom-side p.album {
  font-size: 12px;
  color: var(--light-pink);
  margin-bottom: 0;
}

.music-detail.small {
  border-radius: 10px;
  padding: 5px;
  max-width: 300px;
  font-size: 12px;
}

.music-detail.small .top-side {
  margin-right: 5px;
}

.music-detail.small .top-side img {
  width: 85px;
}

.metadata-container .error-message,
.metadata-container.error .current,
.metadata-container.error .next,
.metadata-container.loading .next,
.metadata-container.loading .current {
  display: none;
}

.metadata-container.error .error-message,
.metadata-container .current,
.metadata-container .next {
  display: block;
}

.metadata-container button {
  margin-top: 10px;
}

#refresh-button {
  display: flex;
  margin: auto;
  align-self: center;
}

.loading #refresh-button {
  margin: 30px auto;
}

.loader {
  display: none;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: 5px;
}

.loading .loader {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sendSongForm {
  text-align: center;
}

.current-listeners {
  color: var(--pink);
  margin: auto;
  font-size: 2rem;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: url("../videos/gifs/gif3.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#background-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
